body {
    padding-top: 56px;
    display: flex;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


/* nutrlizing all styles for ul tags */

.ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


/* used to hide sections*/

.hidden {
    display: none;
}


/*this is applied to aside tabs displaying (features)*/

aside {
    border: solid 3px #ccc;
}


/* image card size */

.image-card {
    width: 900px;
    height: 400px;
}