body {
    padding-top: 56px;
}

.home {
    display: flex;
    background-image: url("../images/essentialoils.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}